.navbar{
  .bottomnav{
    width:100%;
    position:sticky;
    bottom:0px;
    text-align: center;
}
.bottomnav p{
    text-align: center;
    color:rgb(105, 105, 63);
    font-size: 14px;
 
}

.bottomnav span{
    font-size: 15px;
    color:black;
}

.bottomnav span:hover{
    color:rgb(187, 76, 17);
    cursor:pointer;
    font-weight: bold;
}

.text font{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


}